* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* header */
header {
  background-image: url("../imgs/headfoot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.nav-item a {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(196, 114, 8);
  background-color: blueviolet;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
}
.nav-item a:hover {
  color: blueviolet;
  background-color: rgb(196, 114, 8);
}

.logo {
  height: 10vh;
  width: 50;
}
/* pag index */
.index {
  display: grid;
  place-items: center;
}
.textito {
  text-align: center;
  color: rgb(196, 114, 8);
  font-weight: bold;
  font-size: larger;
}
/* main */
main {
  background-image: url("../imgs/fonde.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10px;
  width: 100%;
  display: grid;
  place-items: center;
}
.tienda__logo {
  width: 100%;
  height: auto;
}

h1 {
  color: rgb(196, 114, 8);
  text-align: center;

  font-weight: bold;
} /* servicio , medicina, armamento */
.alerta {
  color: brown;
  text-align: center;
  font-weight: bold;
}
/* cards productos y servicio */
.card {
  margin: 10px;
}

.card-body,
.card {
  background-color: blueviolet;
}

.card-title {
  font-weight: bold;
  color: rgb(196, 114, 8);
}

.card-text {
  font-weight: bold;
  color: blanchedalmond;
}

.carta__boton {
  font-weight: bold;
  color: blueviolet;
  background-color: rgb(196, 114, 8);
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}
/* pag contacto */
.contacto {
  font-weight: bold;
  color: rgb(80, 3, 45);
  display: grid;
  place-items: center;
}
.contacto img {
  width: 100%;
  height: auto;
}
.adv {
  color: rgb(196, 114, 8);
  text-align: center;
}
/* footer */
footer {
  background-image: url("../imgs/headfoot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.foottext {
  color: blueviolet;
  text-align: center;
  font-weight: bold;
}
