* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
header {
  background-image: url(/imgs/headfoot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item a {
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(196, 114, 8);
  background-color: blueviolet;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
}
.nav-item a:hover {
  color: blueviolet;
  background-color: rgb(196, 114, 8);
}

.logo {
  height: 5rem;
  width: 5rem;
}
/* pag index */
.index {
  text-align: center;
  color: rgb(196, 114, 8);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: larger;
}
/* main */
main {
  background-image: url(/imgs/fonde.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10px;
  width: 100%;
  display: grid;
  place-items: center;
}
.tienda__logo {
  width: 50%;
}

h1 {
  color: rgb(196, 114, 8);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} /* servicio , medicina, armamento */
.alerta {
  color: brown;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} /* cards productos y servicio */
.carta {
  border-radius: 10px;
  width: 32%;
  background-color: blueviolet;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  overflow: auto;
}

.carta__imagen {
  width: 100%;
}
.carta__titulo,
.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(196, 114, 8);
}

.carta__parrafo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: blanchedalmond;
}

.carta__boton {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: blueviolet;
  background-color: rgb(196, 114, 8);

  padding: 10px;
  border-radius: 10px;
  border: none;
}
.carta,
.carta__imagen,
.carta__titulo,
.carta__parrafo,
.carta__boton {
  margin-bottom: 10px;
}
/* pag contacto */
.contacto {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(80, 3, 45);
  display: grid;
  place-items: center;
}
.contacto img {
  width: 100%;
  height: 75vh;
}
/* footer */
footer {
  background-image: url(/imgs/headfoot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  color: blueviolet;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
